# SPDX-License-Identifier: MIT
# Pipeline to run CI

on:
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-go@v2
      with:
        go-version: '^v1.15.0'
    - name: make all
      run: |
        make all