# SPDX-License-Identifier: MIT

name: release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v1
    - name: make all
      run: |
        make all
    - name: generate changelog from git
      run: |
        echo "Image is available at \`docker.pkg.github.com/${GITHUB_REPOSITORY}/kosmoo:$(git describe --tags --exact-match)\`." > ${{ github.workflow }}-CHANGELOG.txt
        git log --format=format:"* %h %s" $(git describe --tags --abbrev=0 @^)..@ >> ${{ github.workflow }}-CHANGELOG.txt
    - name: push to package registry
      run: |
        docker login docker.pkg.github.com -u chrischdi -p "${PACKAGE_REPO_TOKEN}" 
        make push
      env:
        PACKAGE_REPO_TOKEN: ${{ secrets.PACKAGE_REPO_TOKEN }}
    - name: Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "kosmoo,LICENSE"
        bodyFile: "${{ github.workflow }}-CHANGELOG.txt"
        token: ${{ secrets.GITHUB_TOKEN }}
        draft: true
